<div class="main">

  <h1 id="teste">QUEM <span class="texto-rosa">CONFIA</span> EM NOSSO TRABALHO</h1>
<main id="box">
  <div id="secundarios">
      <img src="../../../assets/clientes/uniasselvi.png" alt="Uniasselvi logo">
      <img src="../../../assets/clientes/unicesumar.png" alt="Unicesumar logo">
  </div>
  <div id="principais">
      <img src="../../../assets/clientes/bradesco-seguros.png" alt="Bradesco Seguros logo">
      <img src="../../../assets/clientes/porto-seguro.png" alt="Xerox logo">
      <img src="../../../assets/clientes/logo-xerox.png"  alt="Porto Seguro logo">
  </div>

</main>

</div>

