div.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: .7rem 0;
  background-color: #ffffff;
  color: #FF1D92;
  cursor: pointer;
  user-select: none;
}

p {
  font-size: 1rem;
  font-weight: 500;
}

div.container.noNav {
  cursor: auto;
  border-bottom: 1px solid #FF1D92;
}

div.container img.arrow {
  transition: transform .1s;
}


.drop {
  width: 100%;
  transform: scaleY(0);
  transform-origin: 100% 0%;
}

.drop p {
  transition: all .3s;
  border-left: 2px solid #FF1D92;
}

.drop p a{
  display: block;
  padding: .8rem;
  color: #333;
  text-decoration: none;
}

.drop p:hover {
  background-color: #C8C8C8;
  border-left: 25px solid #FF1D92;
  padding-left: .5rem;
}

.close {
  display: none;
}

.visible {
  height: max-content;
  animation: open-nav .0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.invisible {
  height: 0px;
  animation: close-nav .0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

