<main class="container">

  <h1>Feedback</h1>

  <section class="container_central">
      <section class="container_texto">
          <p>Estamos trabalhando constantemente para tornar a sua experiência o mais agradável e útil.
          Por favor, compartilhe sua opinião sobre sua experiência aqui.
          Seu feedback é importante para nos ajudar a melhorar.
          <br>Obrigado!</p>
      </section>
      <img src="../../../assets/logo-di2win.svg" alt="logo do extraidados" class="imagem">

      <form action="" method="post" name="feedback" class="container_form">
          <input type="text" name="nome" size="30" placeholder="Digite seu nome" class="container_nome" required>
          <input type="email" name="email" size="60" placeholder="Digite seu Email" class="container_email" required>
          <textarea name="mensagem" size="300" placeholder="Digite sua mensagem" class="container_mensagem" required></textarea>
          <input type="submit" value="Enviar" class="container_botao">


      </form>
  </section>

</main>
