<!-- AQUI COMEÇA O FOOTER -->
<footer>
  <div id="footer_content">
      <div id="footer_contacts">
          <div class="logo">
              <img src="assets/logo-di2win-white.svg" alt="Di2Win">
              <div class = "line"></div>
           
            </div> 
          <div id="footer_social_media">
              <a href="https://www.instagram.com/di2win/" class="footer-link" id="instagram" target="_blank">
                  <i class="fa-brands fa-instagram"></i>
              </a>

              <a href="https://www.facebook.com/di2win/?locale=pt_BR" class="footer-link" id="facebook" target="_blank">
                  <i class="fa-brands fa-facebook-f"></i>
              </a>

              <a href="https://www.linkedin.com/company/di2win/?originalSubdomain=br" class="footer-link" id="linkedin" target="_blank">
                  <i class="fa-brands fa-linkedin"></i>
              </a>
          </div>
      </div>

  <div id="footer_politica">
      <p><u>Politica de Privacidade</u></p>
  </div>
  <div id="footer_copyright">
      <p>Copyright © 2022 - Tecnologia <span style="color: #FF1D92;"><u>Di2win®</u></span> . Todos os direitos reservados.</p>
  </div>
  </div>
</footer>
<!-- FIM DO FOOTER -->
