footer {
  text-align: center;
  width: 100%;
  color: var(--color-neutral-40);
}

.footer-link {
  text-decoration: none;
}

#footer_content {
  background-color: var(--color-neutral-10);
}

.logo img {
  margin-top: 3rem;
  padding-bottom: 2rem;
  width: 100%;
  max-width: 150px;
}

.line{
  border-top: 2px solid #ff2992;
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 0 20px 0 #ff2992;

}

#footer_social_media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

#footer_social_media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1.5rem;
}

#footer_social_media .footer-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--color-neutral-40);
  border-radius: 50%;
  transition: all 0.5s;
}
#footer_social_media .footer-link i{
  font-size: 1rem;
}

#footer_social_media .footer-link:hover{
  opacity: 0.8;
}

#footer_social_media .social-media-item:hover {
  opacity: 0.8;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background-color: #4267b3;
}

#linkedin {
  background-color: #4267b3;
}

#footer_politica {
  margin-top: 1.5rem;
  font-size: 0.8rem;
}

#footer_copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-neutral-10);
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
}

@media (max-width: 767px) {
  /* Ajustes para dispositivos móveis */
  #footer_social_media {
    flex-wrap: wrap;
  }
  
  #footer_social_media .social-media-item {
    margin: 0.5rem;
  }
  
  #footer_privacy_policy {
    margin-top: 1rem;
  }
}