main {
  min-height: 100vh;
}

main section {
  width: 60%;
  margin: 2rem auto;
}

section h1 {
  text-align: center;
  margin-bottom: 3rem;
}

section h1 span {
  color: var(--pink-Di2win);
}

section .questions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section .questions .question-box {
  box-shadow: 0 0 10px 1px #c3c3c3;
  margin-top: 1rem;
  border-radius: 5px;
  width: 80%;
  cursor: pointer;
}

.question-box p.title {
  padding: 1rem 0 1rem 2rem;
  width: 90%;
  font-weight: 600;
}

p.title img {
  margin-right: .5rem;
  transition: transform .5s;
}

.response p {
  padding: 1rem 2rem;
  font-weight: 500;
}

section .questions .question-box div{
  background-color: #999;
  color: #fff;
  border-radius: 0px 0px 5px 5px;
  width: 100%;
}

.invisible {
  display: none;
}

.visible {
  display: inherit;
}

@media (max-width: 675px) {
  section#principal {
    width: 100%;
  }
}
